header {
  position: relative;
  .fa-arrow-left {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 20px;
  }
}

main img {
  width: 100%;
  margin-bottom: -20px;
}

article {
  background-color: $back;
  padding: 30px 20px;
  border-radius: 20px 20px 0 0;

  h2 {
    @include title;
    text-align: left;
    font-size: 27px;
  }

  .fa-heart {
    font-size: 20px;
    align-self: center;
  }
}

.head-heart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.plat-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.plat-item {
  background: white;
  border-radius: 15px;
  padding: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 7px $shadow;
  .first {
    font-weight: bold;
    font-size: 18px;
  }
  .second {
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
  }
  .number {
    font-weight: bold;
    align-self: flex-end;
  }
}

section {
  position: relative;
  .title-item {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 15px;
  }
  .title-item::after {
    content: "";
    width: 37px;
    height: 3px;
    background-color: $tertiary_color;
    display: block;
    margin-top: 4px;
  }
  .numb-button {
    display: flex;
    .number {
      font-size: 15px;
    }
    &:hover > .number {
      margin-right: 40px;
    }
    button {
      display: none;
      position: absolute;
      width: 14%;
      background-color: $tertiary_color;
      border: none;
      border-radius: 0 15px 15px 0;
      color: white;
      font-size: 20px;
      padding: 19px 13px;
      top: 43px;
      right: 0px;
    }
    .sec-2 {
      top: 123px;
    }

    .sec-3 {
      top: 199px;
    }

    &:hover > button {
      display: inline;
    }
  }
}
