header {
  position: relative;
  .fa-arrow-left {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 20px;
    color: black;
  }
}

main {
  img {
    width: 100%;
    margin-bottom: -30px;
    position: relative;
  }
  .note-img {
    height: 250px;
    object-fit: cover;
  }
}

article {
  background-color: $back;
  position: relative;
  padding: 30px 10px;
  border-radius: 30px 30px 0 0;

  h2 {
    @include title;
    text-align: left;
    font-size: 27px;
  }

  .fa-heart {
    font-size: 20px;
    align-self: center;
    &:hover {
      color: $primary-color;
      font-weight: 800;
    }
  }
}

.head-heart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.plat-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

section {
  position: relative;
  margin-bottom: 35px;

  .title-item {
    font-weight: 300;
    font-size: 19px;
    margin-bottom: 15px;
    margin-left: 5px;
  }

  .title-item::after {
    content: "";
    width: 37px;
    height: 3px;
    background-color: $tertiary_color;
    display: block;
    margin-top: 4px;
    margin-bottom: 25px;
  }

  .plat-item {
    background: white;
    border-radius: 15px;
    padding: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 7px $shadow;

    .first {
      font-weight: bold;
      font-size: 18px;
      .placeholder {
        display: none;
      }
    }

    .second {
      font-weight: 400;
      font-size: 15px;
      margin-top: 5px;
      text-overflow: ellipsis;
      .placeholder {
        display: none;
      }
    }

    .number {
      font-weight: bold;
      align-self: flex-end;
    }

    &:hover {
      .hide {
        display: none;
      }
      .number {
        margin-right: 50px;
      }
      .placeholder {
        display: inline;
      }
      button {
        width: 14%;
      }
      i {
        transform: rotate(1turn);
        opacity: 1;
      }
    }
    i {
      // width: 0%;
      opacity: 0;
      transition: cubic-bezier(0.01, 1.68, 0.99, 1.77) opacity 2s, transform 1s;
      // display: none;
    }

    .hide {
      transition: all 700ms;
    }
  }
  .numb-button {
    display: flex;
    order: 1;
    .number {
      font-size: 15px;
      transition: all 700ms;
      margin-left: 10px;
    }

    .placeholder {
      display: none;
      align-self: flex-end;
    }

    .placeholder2 {
      display: inline;
    }

    button {
      position: absolute;
      width: 0%;
      height: 24%;
      background-color: $tertiary_color;
      border: none;
      border-radius: 0 15px 15px 0;
      color: white;
      font-size: 20px;
      top: 43px;
      right: 0px;
      transition: all 700ms;
    }

    .sec-2 {
      top: 122px;
    }

    .sec-3 {
      top: 200px;
    }

    .sec-4 {
      top: 274px;
    }
  }
  .note-width {
    button {
      height: 19%;
    }
  }
}

.button {
  text-align: center;
  a {
    padding: 15px 45px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
  }
}
.tab-flex {
  .fade-0 {
    animation: fadein 1s 0.8s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .fade-1 {
    animation: fadein 1s 1s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .fade-2 {
    animation: fadein 1s 1.2s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .fade-3 {
    animation: fadein 1s 1.4s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .fade-4-bis {
    animation: fadein 1s 1.6s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .fade-4 {
    animation: fadein 1s 2.5s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .fade-5 {
    animation: fadein 1s 2.7s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .fade-6 {
    animation: fadein 1s 3s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .fade-7 {
    animation: fadein 1s 3.2s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .fade-8 {
    animation: fadein 1s 4s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .fade-9 {
    animation: fadein 1s 4.2s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .fade-10 {
    animation: fadein 1s 4.4s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .fade-11 {
    animation: fadein 1s 4.6s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    margin-bottom: -2px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}

// Media Queries

@media (min-width: 768px) {
  .head-heart {
    i {
      margin-right: 20px;
    }
  }

  h1 {
    font-size: 35px;
  }

  section {
    .title-note {
      margin-bottom: 33px;
    }
  }

  .plat-note {
    gap: 26px;
  }

  .plat-item {
    width: 101%;
    .first {
      font-size: 19.5px;
    }
    .second {
      font-size: 18px;
    }
  }

  main {
    img {
      height: 401px;
      object-fit: cover;
    }
  }

  .tab-flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .sec-1 {
      width: 46%;
    }
  }

  article {
    padding: 30px 20px;
    h2 {
      font-size: 30px;
    }
    .sec-2 {
      width: 49%;
      button {
        right: -4px;
      }
    }

    section {
      h2 {
        font-size: 20px;
      }

      .numb-button {
        button {
          top: 43px;
          right: -2px;
        }
        .sec-2 {
          right: -2px;
          top: 122px;
        }
      }
      .plat-note {
        button {
          height: 19.5%;
          top: 57px;
          right: -2px;
        }
        .sec-2 {
          right: -2px;
          top: 149px;
        }
        .sec-3 {
          top: 237px;
          right: -2px;
        }
      }
    }

    .desserts {
      padding: 0 170px;
      margin-left: 20px;
      width: 92%;
      .plat-item {
        .f-button {
          top: 45px;
          right: 164px;
        }
        .sec-2 {
          top: 123px;
          right: 164px;
        }
        .sec-3 {
          top: 201px;
          right: 164px;
        }
        &:hover {
          .number {
            margin-right: 50px;
          }
          button {
            width: 9%;
          }
        }
      }
    }
    .dess-note {
      width: 97%;
    }
  }

  .button a {
    padding: 17px 60px;
    font-size: 23px;
  }
}

@media (min-width: 950px) {
  article {
    section {
      .numb-button {
        button {
          top: 50px;
          right: -5px;
        }

        .sec-2 {
          top: 145px;
          right: -5px;
          height: 17%;
        }

        .sec-3 {
          top: 209px;
        }
        .sec-4 {
          top: 286px;
        }
      }

      .plat-item:hover {
        .hide {
          display: inline;
        }
        .placeholder {
          display: none;
        }
        .number {
          margin-right: 50px;
        }
      }
    }
    .fade-5 {
      .numb-button {
        .sec-2 {
          top: 142px;
          right: -5px;
          height: 18.5%;
        }
      }
    }
    .fade-6 {
      .numb-button {
        .sec-3 {
          top: 229px;
          right: -4px;
          height: 18.5%;
        }
      }
    }
    .desserts {
      width: 28%;
      padding: 0 0;
      margin-left: 0;
      .plat-flex {
        gap: 26px;
      }
      .numb-button {
        button {
          height: 18%;
        }
        .f-button {
          top: 54px;
          right: -4px;
        }

        .sec-2 {
          top: 144px;
          right: -4px;
        }

        .sec-3 {
          top: 232px;
          right: -4px;
        }
      }

      .plat-item:hover {
        button {
          width: 15%;
        }
      }
    }
    .dess-note {
      gap: 26px;
    }

    .tab-flex {
      justify-content: space-between;
      .sec-1 {
        width: 33%;
      }

      .title-item {
        margin-bottom: 25px;
      }
    }
    .sec-2 {
      width: 32%;
    }
  }
  .button {
    padding-top: 30px;
  }
  .standard {
    .desserts {
      .plat-flex {
        gap: 15px;
      }
    }
    section {
      .numb-button {
        button {
          top: 52px;
          right: -5px;
          height: 24%;
        }
        .sec-2 {
          top: 132px;
          right: -5px;
          height: 23.5%;
        }
        .sec-3 {
          top: 209px;
          right: -5px;
          height: 24%;
        }
      }
    }
  }
}
